@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}

body {
    height: 100vh;
}

nav.menu_lateral {
    width: 80px;
    height: 100%;
    background-color: rgb(9, 5, 19);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #9013fe;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu_lateral.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;

}

.btn-expandir {
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #9013fe;
}

ul li.item-menu:hover {
    background: linear-gradient(to right, #4a90e2, #9013fe);

}

ul li.item-menu a {
    color: #fcfcfc;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu_lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 17px;
}

#logoutButton {
    width: 20%;
    padding: 10px;
    background-color: #1e90ff;
    border: none;
    border-radius: 6px;
    color: #f0f8ff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.5s;

}

#logoutButton:hover {
    background-color: #052a50;
}

#logoutButton {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
}

#logoutButton:hover {
    background-color: #c82333;
    /* Escurecer ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .menu_lateral {
        width: 100%;
        /* Menu ocupa toda a largura em telas pequenas */
        height: auto;
        /* Altura ajustável */
    }
}